@import url('https://fonts.googleapis.com/css?family=Special+Elite');


html{
  background-image: -webkit-linear-gradient(180deg, #1f222b 52%, #e55d51 53%);
}

body{
  font-family: 'Special Elite', cursive;
  color: white;
  font-size: 2em;
}

.right{
  width: 45%;
  display: block;
  text-align: center;
  float:left;
  margin-top: 10%;
}

.left{
  width: 45%;
  float: right;
  margin-top: 10%;
}

.coding-img{
  width: 60%;
}

@media screen and (max-width: 780px){
  html{
    background-image: none;
    background-color: #e55d51;
  }
  body{
    margin: 0px;
    padding: 0px;
  }

  .right{
    width: 100%;
    text-align: center;
    float: none;
    margin-top: 0%;
  }

  .left{
    width: 100%;
    height: 400px;
    padding-top: 20px;
    float: none;
    margin-top: 10%;
    text-align: center;
    background-color: #1f222b;
    font-size: .8em;
  }

  .coding-img{
    width: 60%;
  }

}
