@import url('https://fonts.googleapis.com/css?family=Special+Elite');

/*************************
GENERAL
**************************/
body {
  font-family: 'Special Elite', cursive;
  color: black;
  font-size: 1em;
  color: white;
}

h1 {
  text-align: center;
  font-size: 32px;
  color: white;
}

button:hover,
.btn:hover {
  cursor: pointer;
}

input {
  margin: 2px;
}


/*************************
NAV
**************************/
nav {
  height: 100px;
  margin-top: -8px;
  margin-left: -8px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
  border-right: 1px solid #bbb;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
  color: white;
}

nav .active {
  border: 2px solid grey;
  background-color: rgba(109, 109, 109, 0.164);
}



/*************************
SUBMENU
**************************/
.subMenu {
  margin: 10px auto;
  text-align: center;
  border: none;
}

.showSingle {
  padding: 12px;
}

.showSingle:hover {
  cursor: pointer;
}

.activeSubMenuButton {
  background-color: aliceblue;
}



/*************************
WRAPPER
**************************/
.wrapper {
  width: 55%;
  background-color: #4c93d0;
  color: #4c93d0;
  margin: 0 auto;
  margin-top: 5%;
  padding: 20px;
  box-shadow: 0 2px 4px 0 gray, 0 2px 10px 0 gray;
}


/*************************
INNER-WRAPPER
**************************/
.inner-wrapper {
  background-color: white;
  padding: 20px;
}

.inner-wrapper ol li {
  list-style-type: none;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  margin: 30px;
}


/*************************
COLORS / STYLES
**************************/
.red {
  color: red;
  font-family: 'Times New Roman', Times, serif;
}

.blue {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

.green {
  color: green;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}

.wrapper-purple {
  background-color: #5600e2;
  color: #5600e2;
}

.wrapper-orange {
  background-color: #D47500;
  color: #D47500;
}

.blackBold {
  font-weight: bolder;
  font-size: 18px;
  color: black;
}

/*************************
hwPARTS
**************************/
#hwPart1,
#hwPart2,
#hwPart3,
#extraCredit,
.panelInnerWrapper {
  margin: 0 auto;
  text-align: center;
}

table,
#gradesTableResults {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#gradesTableResults {
  width: 320px;
}

.outputTable {
  margin-top: 40px;
}

.ui-helper-hidden-accessible {
  display: none;
}

.tooltip {
  color: white;
  background-color: black;
  width: 160px;
  padding: 8px;
}

/*****************************************************
hw #4 Par2 styling:
******************************************************/
.part2Wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.compoundInterestTable{
  margin: 15px 15px 15px 2.5%;
}

.compoundInterestTable th {
  background-color: #812215;
  color: white;
}

.compoundInterestTable td, th {
  border: 1px solid #ddd;
  padding: 3px;
}
.compoundInterestTable tr{
  color: black;
  background-color: #f17c4e;
}

.compoundInterestTable  tr:nth-child(even){
  background-color: #fdf734;
}

/*****************************************************
hw extra credit
******************************************************/
.wrapper-monetaryExchange {
  width: 55%;
  height: 690px;
  background-image: -webkit-linear-gradient(90deg, #4c93d0 89%, #2f71ac 12%);
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 7%;
  box-shadow: 0 2px 4px 0 gray, 0 2px 10px 0 gray !important;
}

#monetaryExchange {
  margin: 0 auto;
}

#monetaryExchange thead {
  background-color: black;
  color: white;
}

#monetaryExchange td,
#monetaryExchange th {
  border: 1px solid #ddd;
  padding: 8px;
}

#monetaryExchange tr:nth-child(even) {
  background-color: #f2f2f2;
}

#dollars {
  background-color: black;
  color: white;
}

#textfield {
  width: 80%;
  padding: 10px;
  margin: 0px;
  text-align: right;
}

.conversion {
  text-align: right;
  color: black;
}


div.panel,
p.flip {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background: gray;
  color: white;
  width: 91%;
  border: solid 1px #c3c3c3;
}

p.flip {
  margin-bottom: 50px;
  padding: 20px;
}

p.flip:hover {
  cursor: pointer;
}

div.panel {
  height: 100px;
  display: none;
}

#extraCreditCalculateSubmitButton {
  margin-top: 20px;
}



@media screen and (max-width: 780px) {

  /*************************
  NAV
  **************************/
  nav {
    display: none;
  }


  /*************************
  WRAPPER
  **************************/
  .wrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px;
  }

  /*************************
  INNER-WRAPPER
  **************************/
  .inner-wrapper {
    padding: 10px;
  }

  .inner-wrapper ol li {
    list-style-type: none;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
