
/*****************************************************
HW 4 Landing page and general layout
******************************************************/

body{
  background-color: white;
  margin: 0 auto;
}

.wrapper{
  width: 55%;
  height: 700px;
  background-image: -webkit-linear-gradient(90deg, #fbd345 92%, #f5bb31 12%);
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 7%;
  box-shadow: 0 2px 4px 0 gray,0 2px 10px 0 gray !important;
}

nav{
  font-weight: bold;
	padding: 1px;
	width: 100%;
  text-align: center;
}

li, a{
  display: inline;
  text-decoration: none;
  font-size: 1.1em;
  color: white;
  padding: 16px 4px;
}

a:hover {
  background: #fbd345;
  font-size: 1.12em;
}

.active{
    background: #fbd345;
}

.inner-wrapper{
  text-align: center;
  margin: 0 auto;
  width: 90%;
  background-color: white;
  padding: 10px;
  border-radius: .5%;
  color: #fbd345;
  font-size: 1.2em;
  font-weight: bold;
}

h1{
  text-align: center;
  font-size: 2em;
  color: white;
  margin: 40px;
}

ol li{
  display: block;
  list-style-type: none;
  font-size: 1.1em;
  color:#fbd345;
}


/*****************************************************
HW 4 Part1
******************************************************/
.draggable img{
  width: 100%;
}

#draggable {
  width: 350px;
  padding: 0.5em;
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  background-color: white;
  position:absolute;
}

.dark-yellow {
  color: #f5bb31;
  font-weight: bolder;
}

p{
  color: black;
  font-size: 18px;
  font-weight: normal;
}

/*****************************************************
HW 4 Part2
******************************************************/
