/**************************
GENERAL
**************************/
@import url('https://fonts.googleapis.com/css?family=Special+Elite');


body {
  margin: 0;
  font-family: 'Special Elite', cursive;
  text-align: center;
}

.right{
  width: 35%;
  height: 100vh;
  display: block;
  text-align: center;
  float:left;
  background:#82b336;
}

.left{
  width: 65%;
  float: right;
  background: white;
  margin-top: 150px;
}

h1 {
  color: white;
  font-size: 3em;
  margin-top: 50px;
}
h2 {
  font-size: 18px;
}

.top-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  height: 45px;
}



/**************************
MAIN IMAGE
**************************/
#mainImage {
  width: 50%;
  border-radius: 50%;
}



/**************************
PROJECTS SECTION
**************************/
.grid {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

@media screen and (max-width: 1000px){
  .grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px){
  .grid{
    grid-template-columns: 1fr;
  }
}

a {
  text-decoration: none;
}

.project-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0b027;
  padding: 15px;
  color: white;
}

.project-container:hover {
  opacity: .7;
}

.project-container a{
  color: white;
  text-decoration: none;
  text-align: center;
}



/**************************
FOOTER
**************************/
footer {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: white;
  overflow: hidden;
}

.footer-content {
  position: absolute;
  bottom: 1%;
  right: 50%;
  transform: translate(50%, -1%);
  color: gray;
  font-size: 16px;
  font-weight: bold;
}
