/*******************************
CSS ACROSS THE WEBSITE
********************************/


/******************
GENERAL
******************/
@import url('https://fonts.googleapis.com/css?family=Questrial');

body{
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Spectral SC', serif;
  text-align: center;
}


/******************
DIVS
******************/

.full-width-div {
  width: 100%;
}




/******************
NAVIGATION
******************/
.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav-menu li {
    float: left;
}

.nav-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-menu li a:hover {
    background-color: gray;
    cursor: pointer;
}


.active {
    background-color: #4CAF50;
}


/******************
HEADER
******************/

.main-header{
  position: relative;
  height: 350px;
  background: linear-gradient(#4ec38f, transparent 95%),
              linear-gradient(#fff, transparent),
              #4ec38f url('../img/green-header-pattern.png');
  padding: 1% 0;
}

.inner-header{
  width: 40%;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.header-name{
  font-weight: 600;
  font-size: 3em;
  letter-spacing: 0.2em;
  margin-bottom: 1%;
}

.social-icons {
  width: 55px;
  margin: 1%;
}


/******************
FOOTER
******************/
footer{
  position: relative;
  width: 100%;
  height: 200px;
  background-color: black;
  overflow: hidden;
}

.footer-content{
  position: absolute;
  bottom: 40%;
  right: 50%;
  transform: translate(50%, -1%);
  color: gray;

}


/*******************************
ABOUT PAGE
********************************/


/******************
SECTION:
PROFILE-IMAGE-AND QUOTE
******************/
.profile-picture-and-quote{
  margin: 50px auto;
}

.profile-picture-inner-div{
  width: 20%;
  margin: 0 auto;
}
.profile-img{
  width: 80%;
  border-radius: 50%;
}


/******************
SECTION:
OBJECTIVE-AND-HOBBIES
******************/

.objective, .hobbies{
  float: left;
  width: 40%;
  padding: 2%;
  font-size: 1.3em;
  font-family:'Questrial', sans-serif;
}

.objective {
  margin-left: 5%;
}

.hobbies-list{
  list-style: none;
  margin: 1% 0;
}

.hobbies-list li {
  margin: 25px 0;
}

.bold-word{
  font-weight: bold;
  color:#41a076;
}


/*******************************
PROJECTS PAGE
********************************/
