body {
  background-color: #edf8fd;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 18px;
}

.survey-form-wrapper {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 2%;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 25px;
}

input[type=text],
input[type=number],
input[type=email] {
  height: 30px;
  width: 300px;
  border-radius: 25px;
}

input[type=text],
input[type=number],
input[type=email],
textarea {
  font-size: 18px;
  background-color: #f0f8fd;
  margin: 15px;
  border: transparent;
  outline: none;
  padding: 10px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 10px;
  border: 1px solid rgba(81, 203, 238, 1);
}

select {
  height: 40px;
  font-size: 18px;
}

fieldset {
  width: 70%;
  margin: 40px auto;
  padding: 1%;
  border: none;
}

.button {
  background-color: #f88944;
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: 30%;
  margin: 2% auto;
  margin-bottom: 5%;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  /*Extra properties for dimension*/
  border: 1px solid #f88944;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset
}

.button:hover {
  background-color: #f57627;
  cursor: pointer;
}

.radio-buttons,
.checkboxes {
  margin-top: 1%;
  margin-left: 32%;
  text-align: justify;
  display: block;
}

.textarea-Label,
textarea {
  display: block;
  margin: 20px auto;
}